/* UserList.css */
.user-table-container {
  width: calc(100% - 300px);
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-table th {
  background-color: #f8f9fa;
}

.status-active {
  color: green;
}

.status-passive {
  color: red;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.view-btn {
  background-color: #6f86f6;
  border: 1px solid #6f86f6;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-btn:hover {
  background-color: #4158d0;
}

.delete-btn {
  background-color: #fff;
  border: 1px solid #ff595e;
  color: #ff595e;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #ff595e;
  color: white;
}
